<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FAQ: Information Regarding Tickets</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body{
            background-color:#CDCDCD;
			color: #595959;
            text-align: center;
			font-family: Georgia, 'Times New Roman', Times, serif;
        }
        h1{
            
	        padding-top: 5%;
			font-size: 80px;
	        font-style: normal;
	        font-variant: normal;
	        font-weight: 500;
	        line-height: 26px;
        }
        h3{
            
	        font-size: 30px;
	        font-style: normal;
	        font-variant: normal;
	        font-weight: 500;
	        line-height: 15px;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
 	<!--Nav bar-->
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://mocrime.thomasruble.com">Mo Crime Mo Problems</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="http://mocrime.thomasruble.com">Home</a></li>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
  </nav>

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                    <h1>FAQ</h1>
                    <br>
                    <h3>Information Regarding Tickets</h3>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="pay">
            <table>
                <tr>
                    <td rowspan="3"><img class="featurette-image img-rounded img-responsive pull-left" src="/static/images/rsz_car-payment-ts.jpg" width="200" alt="Money Img"></td>
                </tr>
                <tr>
                    <td><h2 class="featurette-heading">Where Can I Pay For My Ticket?</h2></td>
                </tr>
                <tr>
                    <td><p class="lead">To pay for a ticket you can visit the nearest court house as long as your citation does not involve DWI (Driving While Influenced), BAC (Blood Alcohol Content), or a car accident.  You also have the option to pay online <a href="https://wmq.etimspayments.com/pbw/include/stlouis/input.jsp">here</a>.</p></td>
                </tr>
            </table> 
        </div>
            
        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="ticket_lost">
            <table>
                <tr>
                    <td><h2 class="featurette-heading">I Have Lost My Ticket and Need To Find My Court Date.  Where Do I Go?</h2></td>
                    <td rowspan="2"><img class="featurette-image img-rounded image-responsive pull-left" src="/static/images/rsz_gty_supreme_court_cases_jef_131003_16x9_992.jpg" width="200" alt="Court Img"></td>
                </tr>
                <tr>
                    <td><p class="lead">To look up a ticket you can visit our <a href="/index/">main page</a> and search for by license number.  There you will be able to find your court date and any other information you might need.</p></td>
                </tr>
            </table> 
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="rights">
            <table>
                <tr>
                    <td rowspan="3"><img class="featurette-image img-rounded img-responsive pull-left" src="/static/images/rsz_billofrights.jpg" width="300" alt="Rights Img"></td>
                </tr>
                <tr>
                    <td><h2 class="featurette-heading">What Rights Am I Entitled To?</h2></td>
                </tr>
                <tr>
                    <td><p class="lead">As a citizen you are entitled to a variety of rights to protect your individual liberties. A list of those rights can be found in the PDF found <a href="/static/images/MNCivilRightsFINAL.pdf">here</a>.</p></td>
                </tr>
            </table> 
        </div>

        <hr class="featurette-divider">

        <!-- Fourth Feature -->
        <div class="featurette" id="contact">
            <table>
                <tr>
                    <td><h2 class="featurette-heading">How Can I Contact Someone With Other Questions?</h2></td>
                    <td rowspan="2"><img class="featurette-image img-rounded image-responsive pull-left" src="/static/images/rsz_qanda.jpg" width="200" alt="QandA Img"></td>
                </tr>
                <tr>
                    <td><p class="lead">A page provides those who wish to contact someone with questions here via phone number or email during the week depending on court house and hours.  To find a court house near you go <a href="/more_info/">here</a>.</p></td>
                    
                </tr>
            </table> 
        </div>
        
        <hr class="featurette-divider">
        
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Developers Developers Developers Developers &copy; 2015</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
    <script src="/static/js/bootstrap.min.js"></script>

</body>

</html>
