<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FAQ: Warrants</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    
    <style>
        body{
            background-color:#CDCDCD;
            color: #595959;
			text-align: center;
			font-family: Georgia, 'Times New Roman', Times, serif;
        }
        h1{
	        padding-top: 5%;
			font-size: 80px;
	        font-style: normal;
	        font-variant: normal;
	        font-weight: 500;
	        line-height: 26px;
        }
        h3{
	        font-size: 30px;
	        font-style: normal;
	        font-variant: normal;
	        font-weight: 500;
	        line-height: 15px;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
 	<!--Nav bar-->
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://mocrime.thomasruble.com">Mo Crime Mo Problems</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="http://mocrime.thomasruble.com">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
  </nav>

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <br>
                <h1>FAQ</h1>
                <br>
                <h3>Warrants</h3>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="pay">
            <table>
                <tr>
                    <td rowspan="3"><img class="featurette-image img-rounded img-responsive pull-left" src="/static/images/rsz_handcuffs.jpg" width="400" alt="Handcuff Img"></td>
                </tr>
                <tr>
                    <td><h2 class="featurette-heading">What To Do If I Have A Warrant?</h2></td>
                </tr>
                <tr>
                    <td><p class="lead">If there is a warrant out for your arrest you should contact an attorney, arrange to be processed, and be brought in with the attorney.
                        If you do not know if there is a warrant out for your arrest, you can check <a href="/index/">here</a>.</p></td>
                </tr>
            </table>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="ticket_lost">
            <table>
                <tr>
                    <td><h2 class="featurette-heading">Is There Any Way To Pay Off A Warrant/Receive Probation?</h2></td>
                    <td rowspan="2"><img class="featurette-image img-rounded image-responsive pull-left" src="/static/images/Probation-Violation-Hearings.jpg" width="200" alt="Probation Img"></td>
                </tr>
                <tr>
                    <td><p class="lead">Any arrangements must be made by a visit to the nearest courthouse.  Find a court house <a href="/more_info/">here</a>.</p></td>
                </tr>
            </table>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="rights">
            <table>
                <tr>
                    <td rowspan="3"><img class="featurette-image img-rounded img-responsive pull-left" src="/static/images/rsz_behind-bars.jpg" width="300" alt="Behind_Bars Img"></td>
                </tr>
                <tr>
                    <td><h2 class="featurette-heading">Can I Be Arrested If I Come To See A Judge?</h2></td>
                </tr>
                <tr>
                    <td><p class="lead">Defendants with outstanding warrants are subject to arrest at any time.  Individuals are encouraged to appear in court to take care of their tickets and generally are
                        not arrested.</p></td>
                </tr>
            </table>
        </div>

        <hr class="featurette-divider">

        <!-- Fourth Feature -->
        <div class="featurette" id="contact">
            <table>
                <tr>
                    <td><h2 class="featurette-heading">How Can I Contact Someone With Other Questions?</h2></td>
                    <td rowspan="2"><img class="featurette-image img-rounded image-responsive pull-left" src="/static/images/rsz_qanda.jpg" width="200" alt="QandA Img"></td>
                </tr>
                <tr>
                    <td><p class="lead">A page provides those who wish to contact someone with questions here via phone number or email durring the week.  It will change from court house to court house which can be located here <a href="/more_info/">here</a>.</p></td>

                </tr>
            </table>
        </div>

        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Developers Developers Developers Developers &copy; 2015</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

</body>

</html>
